.cartContainedBox {
  display: flex;
  padding: 0 24px;
  gap: 30px;
}

.cartIsEmpty {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  flex-direction: column;
  gap: 10px;
}
.cartIsEmpty p {
  color: rgba(140, 167, 10, 1);
  font-size: 18px;
  font-weight: 400;
  font-family: "FiraGO-400";
}
.goForProduct {
  background-color: rgba(140, 167, 10, 1);
  font-size: 18px;
  font-weight: 400;
  font-family: "FiraGO-400";
  color: white;
  padding: 15px 20px;
  border-radius: 8px;

  text-decoration: none;

  cursor: pointer;
}
.importedProductAndContact {
  width: 70%;
}
.importedOrderList {
  width: 30%;
  padding-top: 80px;
}
@media only screen and (max-width: 768px) {
  .contactContainerForMob {
    display: none;
  }
  .cartContainedddr {
    padding: 0 10px;
  }
  .cartContainedBox {
    display: flex;
    flex-direction: column;
  }
  .importedProductAndContact {
    width: 100%;
  }
  .importedOrderList {
    width: 100%;
    padding-top: 20px;
  }
}
