.contactFormContainer {
  padding-top: 30px;
}

.contactContent {
  display: flex;
  box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.05);
  flex-direction: column;
  border-radius: 16px;
}
.contactForm {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
}
.personalInfo {
  display: flex;
  width: 100%;
  gap: 10px;
}
.name,
.phone {
  width: 100%;
}
.name input,
.phone input,
.adrress input,
.adrress select {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 16px 0;
  border-radius: 8px;
  outline: none;

  color: rgba(11, 89, 47, 1);
  font-size: 14px;
}

.error {
  color: tomato;
  font-size: 14px;
  font-family: "FiraGO-400";
}
